<h2>Members</h2>
<form>
  <input type="search" [(ngModel)]="query" name="query" (keyup.enter)="search()">
  <button type="button" (click)="search()">Search</button>
</form>

<table *ngIf="memberList" id="searchList">
  <tbody>
  <tr>
    <td>Name :</td>
    <td>{{person.name}}</td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>{{person.phone}}</td>
  </tr>
  <tr>
    <td>Street:</td>
    <td>{{person.address.street}}</td>
  </tr>
  <tr>
    <td>City:</td>
    <td>{{person.address.city}}</td>
  </tr>
  <tr>
    <td>State:</td>
    <td>{{person.address.state}}</td>
  </tr>
  <tr>
    <td>Zip:</td>
    <td>{{person.address.zip}}</td>
  </tr>
  </tbody>
</table>
